:root {
  --primary-color: "hsl(172, 67%, 45%)";
  --default-background: "hsl(185, 41% , 84%)";
  --very-dark-cyan-color: "hsl(183, 100%, 15%)";
  --dark-greyish-cyan-color: "hsl(186, 14%, 43%)";
  --greyish-cyan-color: "hsl(184, 14%, 56%)";
  --light-greyish-cyan-color: "hsl(185, 41%, 84%)";
  --very-light-greyish-cyan-color: "hsl(189, 41%, 97%)";
  --white-color: "hsl(0, 0%, 100%)";
  --form-inputs-font-size: "24px"
}
